<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
<div class="container">
    <header th:replace="~{fragments/navigator :: navigator}" />

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <h2>장바구니</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>상품명</th>
                <th>수량</th>
                <th>삭제(체크)</th>
            </tr>
        </thead>
        <tbody>
            <form id="updateForm" th:action="@{/cart/update}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <tr th:each="cartProduct: ${cartProductList}">
                    <td th:text="${cartProduct.productName}"></td>
                    <td>
                        <input type="number" th:name="${cartProduct.uid}" th:value="${cartProduct.quantity}" />
                    </td>
                    <td>
                        <input type="checkbox" name="deleteUids" th:value="${cartProduct.uid}" />
                    </td>
                </tr>
            </form>
        </tbody>
    </table>

    <div class="button-container text-end">
        <button id="updateButton" type="submit" class="btn btn-primary me-2">장바구니 업데이트</button>
        </form>
        <form th:action="@{/cart/order}" method="post" class="d-inline">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="memberUid" th:value="${memberUid}" />
            <button type="submit" class="btn btn-success">주문하기</button>
        </form>
    </div>

    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>

<script>
    document.getElementById("updateButton").addEventListener('click', function() {
        document.getElementById("updateForm").submit();
    });
</script>