<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
<div class="container">
    <header th:replace="~{fragments/navigator :: navigator}" />

    <h2>결제</h2>

    <div th:text="${payment.getId()}"></div>
    <br/>
    <div th:text="${payment.getDesiredAmount()}"></div>
    <br/>
    <div th:text="${payment.getPayMethod()}"></div>
    <br/>
    <div th:text="${payment.getBuyerName()}"></div>
    <br/>

    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>