<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
<div class="container">
    <header th:replace="~{fragments/navigator :: navigator}" />

    <h2>결제</h2>


    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script th:inline="javascript">
        (function() {
            const IMP = window.IMP;
            IMP.init([[${portoneShopId}]]);

            const merchant_uid = "merchant_" + new Date().getTime();

            let props = [[${payProps}]];
            props = JSON.parse(props);

            IMP.request_pay(props, async function(response) {
                if (response.success) {
                    try {
                        const fetchResponse = await fetch([[${verifyUrl}]], {
                            method: 'PATCH',
                            headers: {
                                [[${_csrf.token}]]: [[${_csrf.headerName}]], // CSRF 토큰 추가
                                'Content-Type': 'application/json'
                            },
                            body: ""
                        });

                        if (fetchResponse.ok) {
                            const location = fetchResponse.headers.get('Location');
                            if (location) {
                                window.location.href = location;
                            } else {
                                console.error("결제가 완료되었지만 이동할 URL이 제공되지 않았습니다.");
                                alert("서버 통신 중 오류가 발생했습니다.");
                            }
                        } else {
                            console.error("PATCH 요청 실패:", fetchResponse.statusText);
                            alert("서버 통신 중 오류가 발생했습니다.");
                        }
                    } catch (error) {
                        console.error("Fetch Error:", error);
                        alert("서버 통신 중 문제가 발생했습니다.");
                    }
                } else {
                    alert("결제가 실패했습니다. 다시 시도해주세요.");
                }
            });
        })();
    </script>

    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>