<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
    <div class="container">
        <header th:replace="~{fragments/navigator :: navigator}" />

        <a href="/payment">새 결제 만들기</a>

        <div class="row">
            <div th:each="product : ${productList}" class="col-sm-6 col-lg-4">
                <div class="card">
                    <img th:src="${product.getProductImgPath()}"
                         alt="${{product.getName()}}"
                         class="card-img-top object-fit-cover"
                    />
                    <div class="card-body">
                        <div th:text="${product.getCategoryName()}"></div>
                        <div>
                            <h5 class="text-truncate" th:text="${product.getName()}"></h5>
                        </div>
<!--                        <div th:text="${product.getDescription()}"></div>-->
                        <div class="d-flex justify-content-between">
                            <div th:text="${product.getPrice()} + 원"></div>
                            <div>
                                <a href="" class="btn btn-primary">장바구니에 담기</a>
                            </div>
                        </div>
<!--                        <div th:text="${product.getStatus()}"></div>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- 페이징 버튼 -->
        <div class="pagination justify-content-center">
            <ul class="pagination">
                <!-- Previous 버튼 -->
                <li th:if="${productList.hasPrevious()}" class="page-item">
                    <a th:href="@{'/?page=' + ${productList.number - 1} + '&size=' + ${productList.size} + '&query=' + ${query}}" class="page-link">&laquo;</a>
                </li>

                <!-- 처음 페이지 -->
                <li th:if="${startPage > 0}" class="page-item">
                    <a th:href="@{'/?page=0&size=' + ${productList.size} + '&query=' + ${query}}" class="page-link">1</a>
                </li>
                <li th:if="${startPage > 1}" class="page-item disabled">
                    <span class="page-link">...</span>
                </li>

                <!-- 페이지 번호 -->
                <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
                    class="page-item"
                    th:classappend="${i == currentPage} ? 'active'" th:if="${endPage > 0}">
                    <a th:href="@{'/?page=' + ${i} + '&size=' + ${productList.size} + '&query=' + ${query}}" class="page-link" th:text="${i + 1}"></a>
                </li>

                <!-- 마지막 페이지 -->
                <li th:if="${endPage < productList.totalPages - 2}" class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
                <li th:if="${endPage < productList.totalPages - 1}" class="page-item">
                    <a th:href="@{'/?page=' + ${productList.totalPages - 1} + '&size=' + ${productList.size} + '&query=' + ${query}}" class="page-link" th:text="${productList.totalPages}"></a>
                </li>

                <!-- Next 버튼 -->
                <li th:if="${productList.hasNext()}" class="page-item">
                    <a th:href="@{'/?page=' + ${productList.number + 1} + '&size=' + ${productList.size} + '&query=' + ${query}}" class="page-link">&raquo;</a>
                </li>
            </ul>
        </div>

        <div th:replace="~{fragments/footer :: footer}" />
    </div> <!-- /container -->
</body>
</html>