<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
<div class="container">
    <header th:replace="~{fragments/navigator :: navigator}" />

    <h2>결제 테스트</h2>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>(function(){
            const IMP = window.IMP;
            const code = "iamport";
            IMP.init(code);

            const merchant_uid = "merchant_" + new Date().getTime();

            IMP.request_pay({
                merchant_uid: merchant_uid,
                name: "주문 테스트",
                amount: 100,
            }, function(response) {
                console.log(response);
            });
        })();
    </script>

    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>