<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
<div class="container">
    <header th:replace="~{fragments/navigator :: navigator}" />

    <h2>결제 내역</h2>
    <table class="table table-striped">
        <tr>
            <th>결제 건 고유 아이디</th>
            <th>결제 이름</th>
            <th>금액</th>
            <th>결제 성공 여부</th>
        </tr>
        <tr th:object="${payment}">
            <td th:text="*{uid}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{amount}"></td>
            <td th:text="*{status}"></td>
            <td th:text="*{isPaidOk}"></td>
        </tr>
    </table>

    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>