<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
<div class="container">
    <header th:replace="~{fragments/navigator :: navigator}" />

    <h2>결제 테스트</h2>

    <!-- 결제 프로퍼티 역직렬화 -->
    <script th:inline="javascript">
        let props = /*[[${payProps}]]*/
        props = JSON.parse(props);
    </script>

    <!-- 결제 검증 페이지 선언 -->
    <script th:inline="javascript">
        const verifyUrl = /*[[${verifyPage}]]*/
    </script>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>(function(){
            const IMP = window.IMP;
            const code = "iamport";
            IMP.init(code);

            const merchant_uid = "merchant_" + new Date().getTime();

            IMP.request_pay(props, function(response) {
                location.href = verifyUrl;
            });
        })();
    </script>

    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>